#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-1 .mbr-header__text {
  color: #ffffff;
  text-align: left;
  font-size: 25px;
}
#msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1 .mbr-article {
  color: #ffffff;
}
#contacts1-l P {
  color: #ffffff;
}
#msg-box2-u .mbr-header .mbr-header__text {
  color: #f97352;
  font-size: 30px;
}
#msg-box2-u .mbr-article {
  color: #252525;
}
#features1-s .mbr-section__col .mbr-header__text {
  color: #f97352;
  font-size: 20px;
}
#features1-s P {
  text-align: center;
  font-size: 15px;
  color: #7c706b;
}
#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#pricing-table1-q SPAN {
  font-size: 48px;
}
#contacts1-l P {
  color: #ffffff;
}
#ext_menu-4 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-4 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-4 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-5 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f97352;
}
#msg-box3-5 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-5 .mbr-article P {
  font-size: 15px;
  color: #7c706b;
}
#contacts1-l P {
  color: #ffffff;
}
#msg-box2-1d .mbr-header .mbr-header__text {
  color: #f97352;
  font-size: 30px;
}
#msg-box2-1d .mbr-article {
  color: #252525;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#features1-7 P {
  font-size: 15px;
}
#features1-1a P {
  font-size: 15px;
}
#pricing-table1-r SPAN {
  font-size: 48px;
}
#msg-box2-2q .mbr-header .mbr-header__text {
  color: #f97352;
}
#msg-box2-2q .mbr-article {
  color: #252525;
}
#contacts1-l P {
  color: #ffffff;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-3r .mbr-header__text {
  color: #000000;
}
#msg-box4-3r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3r .mbr-article {
  color: #7c706b;
}
#msg-box4-3r .mbr-article P {
  color: #7c706b;
  font-size: 16px;
}
#contacts3-e P {
  color: #ffffff;
  font-size: 16px;
}
#contacts3-e UL {
  color: #ffffff;
  font-size: 16px;
}
#form2-37 .mbr-header__text {
  font-size: 20px;
}
#social-buttons1-b .mbr-header__text {
  font-size: 15px;
}
#ext_menu-v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-v.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-v .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-v .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-14 H3 {
  color: #000000;
}
#content1-x P {
  color: #7c706b;
  font-size: 15px;
}
#contacts1-w P {
  color: #ffffff;
}
#ext_menu-z .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-z.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-z .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-z .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-13 H3 {
  color: #7ac673;
}
#content1-10 P {
  color: #7c706b;
  font-size: 15px;
}
#contacts1-12 P {
  color: #ffffff;
}
#ext_menu-15 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-15.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-15 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-16 H3 {
  color: #f97352;
}
#content1-17 P {
  color: #7c706b;
  font-size: 15px;
}
#contacts1-19 P {
  color: #ffffff;
}
#msg-box2-1h .mbr-header .mbr-header__text {
  color: #f97352;
}
#msg-box2-1h .mbr-article {
  color: #252525;
}
#features1-1g P {
  font-size: 13px;
  color: #7c706b;
}
#features1-1g .mbr-section__col .mbr-header__text {
  color: #000000;
}
#msg-box3-1l .mbr-header .mbr-header__text {
  text-align: center;
  color: #f97352;
}
#msg-box3-1l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1l .mbr-article P {
  font-size: 13px;
  color: #7c706b;
}
#ext_menu-1e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1e .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1e .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-1f P {
  color: #ffffff;
}
#msg-box2-1m .mbr-header .mbr-header__text {
  color: #f97352;
}
#msg-box2-1m .mbr-article {
  color: #252525;
}
#features1-1n P {
  font-size: 13px;
  color: #7c706b;
}
#features1-1n .mbr-section__col .mbr-header__text {
  color: #000000;
}
#msg-box3-1o .mbr-header .mbr-header__text {
  text-align: center;
  color: #f97352;
}
#msg-box3-1o .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1o .mbr-article P {
  font-size: 13px;
  color: #7c706b;
}
#ext_menu-1p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1p.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1p .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1p .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-1q P {
  color: #ffffff;
}
#msg-box2-1r .mbr-header .mbr-header__text {
  color: #f97352;
}
#msg-box2-1r .mbr-article {
  color: #252525;
}
#features1-1s P {
  font-size: 13px;
  color: #7c706b;
}
#features1-1s .mbr-section__col .mbr-header__text {
  color: #000000;
}
#msg-box3-1t .mbr-header .mbr-header__text {
  text-align: center;
  color: #f97352;
}
#msg-box3-1t .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1t .mbr-article P {
  font-size: 13px;
  color: #7c706b;
}
#ext_menu-1u .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1u .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1u .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-1v P {
  color: #ffffff;
}
#msg-box2-1w .mbr-header .mbr-header__text {
  color: #f97352;
}
#msg-box2-1w .mbr-article {
  color: #252525;
}
#features1-1x P {
  font-size: 13px;
  color: #7c706b;
}
#features1-1x .mbr-section__col .mbr-header__text {
  color: #000000;
}
#msg-box3-1y .mbr-header .mbr-header__text {
  text-align: center;
  color: #f97352;
}
#msg-box3-1y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1y .mbr-article P {
  font-size: 13px;
  color: #7c706b;
}
#ext_menu-1z .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-1z.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1z .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-1z .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-20 P {
  color: #ffffff;
}
#msg-box2-21 .mbr-header .mbr-header__text {
  color: #f97352;
}
#msg-box2-21 .mbr-article {
  color: #252525;
}
#features1-22 P {
  font-size: 13px;
  color: #7c706b;
}
#features1-22 .mbr-section__col .mbr-header__text {
  color: #000000;
}
#msg-box3-23 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f97352;
}
#msg-box3-23 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-23 .mbr-article P {
  font-size: 13px;
  color: #7c706b;
}
#ext_menu-24 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-24.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-24 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-24 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-25 P {
  color: #ffffff;
}
#msg-box2-26 .mbr-header .mbr-header__text {
  color: #f97352;
}
#msg-box2-26 .mbr-article {
  color: #252525;
}
#features1-27 P {
  font-size: 13px;
  color: #7c706b;
}
#msg-box3-28 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f97352;
}
#msg-box3-28 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-28 .mbr-article P {
  font-size: 13px;
  color: #7c706b;
}
#ext_menu-29 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-29.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-29 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-29 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-2a P {
  color: #ffffff;
}
#msg-box2-2b .mbr-header .mbr-header__text {
  color: #f97352;
}
#msg-box2-2b .mbr-article {
  color: #252525;
}
#features1-2c P {
  font-size: 13px;
  color: #7c706b;
}
#msg-box3-2d .mbr-header .mbr-header__text {
  text-align: center;
  color: #f97352;
}
#msg-box3-2d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2d .mbr-article P {
  font-size: 13px;
  color: #7c706b;
}
#ext_menu-2e .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2e .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2e .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-2f P {
  color: #ffffff;
}
#msg-box2-2g .mbr-header .mbr-header__text {
  color: #f97352;
}
#msg-box2-2g .mbr-article {
  color: #252525;
}
#features1-2h P {
  font-size: 13px;
  color: #7c706b;
}
#msg-box3-2i .mbr-header .mbr-header__text {
  text-align: center;
  color: #f97352;
}
#msg-box3-2i .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2i .mbr-article P {
  font-size: 13px;
  color: #7c706b;
}
#ext_menu-2j .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2j.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2j .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2j .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-2k P {
  color: #ffffff;
}
#ext_menu-2l .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2l.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2l .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2l .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-2m H3 {
  color: #000000;
}
#header3-2m SPAN {
  color: #000000;
}
#content1-2n P {
  color: #7c706b;
  font-size: 15px;
}
#contacts1-2p P {
  color: #ffffff;
}
#ext_menu-2r .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2r.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2r .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2r .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-2s H3 {
  color: #f97352;
}
#content1-2t P {
  color: #7c706b;
  font-size: 15px;
}
#contacts1-2v P {
  color: #ffffff;
}
#ext_menu-2w .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2w .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2w .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-2x H3 {
  color: #7ac673;
}
#content1-2y P {
  color: #7c706b;
  font-size: 15px;
}
#contacts1-30 P {
  color: #ffffff;
}
#ext_menu-31 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-31 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-31 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box3-36 .mbr-header .mbr-header__text {
  text-align: center;
  color: #f97352;
}
#msg-box3-36 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-36 .mbr-article P {
  font-size: 15px;
  color: #7c706b;
}
#features1-33 P {
  font-size: 15px;
  color: #7c706b;
}
#contacts1-30 P {
  color: #ffffff;
}
#msg-box4-3q .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3q .mbr-article {
  color: #ffffff;
}
#ext_menu-3k .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3k .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3k .mbr-navbar__hamburger {
  color: #ffffff;
}
#features1-3l P {
  font-size: 15px;
}
#features1-3m P {
  font-size: 15px;
}
#contacts1-3p P {
  color: #ffffff;
}
